<?xml version="1.0" ?>
<Dataset>

	<Container name="root" rect="0,0,800,600">
		<illedRect" name="background" color="000000" rect="0,0,800,600"/>
		<apriluiparticle.Particle name="rain" filename="gui_rain.particle" position="100,100"/>
		<apriluiparticle.Particle name="warp" filename="gui_warp.particle" position="220,200"/>
		<apriluiparticle.Particle name="moon" filename="gui_moon.particle" position="100,500"/>
		<apriluiparticle.Particle name="glow" filename="gui_glow.particle" rect="350,150,100,5"/>
		<apriluiparticle.Particle name="cannon" filename="gui_cannon.particle" position="700,500"/>
		
		<apriluiparticle.System name="segmented" filename="gui_segmented.particle" rect="350,350,50,50"/>
		<apriluiparticle.Space name="space0" system_object="segmented" space="space0" rect="350,350,50,50"/>
		<apriluiparticle.Space name="space1" system_object="segmented" space="space1" rect="350,350,50,50"/>
		
		<Container name="container" rect="350,350,50,50">
			<apriluiparticle.Emitter name="emitter1" space_object="space1" emitter="emitter1" rect="15,30,20,20"/>
			<MoverX function="sine" periods="-1" amplitude="50" speed="0.5"/>
			<MoverY function="sine" periods="-1" amplitude="50" timer="0.25"/>
			<Rotator function="sine" periods="-1" amplitude="90" speed="0.5" offset="0"/>
		</Container>
		<apriluiparticle.Emitter name="emitter0" space_object="space0" emitter="emitter0" rect="370,370,10,10">
			<Rotator function="sine" periods="-1" amplitude="50" speed="0.5" timer="1"/>
			<ScalerX function="sine" periods="-1" amplitude="1.5" offset="2.5"/>
			<ScalerY function="sine" periods="-1" amplitude="1.5" offset="2.5"/>
		</apriluiparticle.Emitter>
	</Container>
	
</Dataset>
